[user]
	name = Robert Carlsen
	email = rwcarlsen@gmail.com
[core]
	editor = vim
	token = 
[color]
	ui = true
[alias]
  plog = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s%Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --graph --decorate --date=relative

