
! this are Xresources to make UXTerm look good
! put into ~/.Xresources

UXTerm*font:     -Misc-Fixed-Medium-R-Normal--20-200-75-75-C-100-ISO10646-1
UXTerm*loginShell: true
UXTerm*foreground: gray90
UXTerm*background: black
UXTerm*cursorColor: rgb:00/80/00
UXTerm*borderColor: white
UXTerm*scrollColor: black
UXTerm*visualBell: true
UXTerm*saveLines: 1000
UXTerm*allowSendEvents: True
UXTerm*sessionMgt: false
UXTerm*color0: black
UXTerm*color1: red3
UXTerm*color2: green3
UXTerm*color3: yellow3
UXTerm*color4: DodgerBlue1
UXTerm*color5: magenta3
UXTerm*color6: cyan3
UXTerm*color7: gray90
UXTerm*color8: gray50
UXTerm*color9: red
UXTerm*color10: green
UXTerm*color11: yellow
UXTerm*color12: blue
UXTerm*color13: magenta
UXTerm*color14: cyan
UXTerm*color15: white
UXTerm*colorUL: yellow
UXTerm*colorBD: white
gradient:vertical?dimension=400&start=gray10&end=gray40
gradient:vertical?dimension=550&start=gray10&end=gray40
gradient:vertical?dimension=300&start=gray10&end=gray40
gradient:vertical?dimension=300&start=gray10&end=gray40
UXTerm*rightScrollBar: true
