
xterm*faceName:           Terminus:style=Regular:size=12
xterm*dynamicColors:      true
xterm*eightBitInput:      true
xterm*saveLines:          4096
xterm*scrollKey:          true
xterm*scrollTtyOutput:    false
xterm*scrollBar:          true
xterm*rightScrollBar:     true
xterm*jumpScroll:         true
xterm*multiScroll:        true
xterm*toolBar:            false
xterm*selectToClipboard:  true

xterm*background: #1B1B1B
xterm*foreground: #DEDEDE

xterm*colorUL: #86a2b0

! black
xterm*color0  : #2E3436
xterm*color8  : #555753
! red
xterm*color1  : #CC0000
xterm*color9  : #EF2929
! green
xterm*color2  : #4E9A06
xterm*color10 : #8AE234
! yellow
xterm*color3  : #C4A000
xterm*color11 : #FCE94F
! blue
xterm*color4  : #3465A4
xterm*color12 : #729FCF
! magenta
xterm*color5  : #75507B
xterm*color13 : #AD7FA8
! cyan
xterm*color6  : #06989A
xterm*color14 : #34E2E2
! white
xterm*color7  : #D3D7CF
xterm*color15 : #EEEEEC
